p{
    font-family: 'Roboto Slab',serif;
}
h1{
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
}
.navbar{
    height: 4rem;
    font-size:x-large;
}
.imglogo{
    height: 75px !important;
    width: 91px !important;
    margin-top: 15px;
}
.bg-dark{
    background-color: #00448B !important;
}
footer{
    height: 0rem;
}
/*.contact-title{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2{
    font-size: 16px;
}*/
/* Kontakt ***************************************************************************************/

form input, textarea {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 2px solid;
    border-color: #494949;
    outline: none;
}

form input:first-child {
    margin-top: 10px;
}

form input {
    width: 550px;
    height: 30px
}

form textarea {
    width: 550px;
    height: 200px;
    resize: none;    
}


.input_text {
    color: 494949;
    padding-left: 10px;
}


:-ms-input-placeholder {  
   color: #999999;  
}
 
::-webkit-input-placeholder {
   color: #999999;
}
 
:-moz-placeholder { 
   color: #999999;  
}
 
::-moz-placeholder {  
   color: #999999;  
}


.button {
    background-color: #D8D8D8;
    color: #494949;
    width: 550px;
    height: 50px;
}


.button:hover {
    background-color: #494949;
    color: #D8D8D8;
    }

.contactform{
    margin-left: 670px;
}
.contacttitle h3{ 
    text-align: center;
}
.contact{
    margin-top: 200px;
}

