p{
    font-family: 'Roboto Slab',serif;
}
h1{
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
}
.navbar{
    height: 4rem;
    font-size:x-large;
}
.imglogo{
    height: 4.6875rem !important;
    width: 5.6875rem !important;
    margin-top: 0.9375rem;
}
.bg-dark{
    background-color: #00448B !important;
}
footer{
    height: 0rem;
}
/*.register-title{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.register-title h1{
    font-size: 32px;
    line-height: 10px;
}
.register-title h2{
    font-size: 16px;
}*/
/* Kontakt ***************************************************************************************/

form input{
    font-family: 'Roboto Slab', serif;
    font-size: 0.9375rem;
    margin-bottom: 0.625rem;
    border-radius: 0.125rem;
    border: 0.125rem solid;
    border-color: #494949;
    outline: none;
}

form input:first-child {
    margin-top: 0.625rem;
}

form input {
    width: 34.375rem;
    height: 1.875rem;
}



.input_text {
    color: 494949;
    padding-left: 0.625rem;
}


:-ms-input-placeholder {  
   color: #999999;  
}
 
::-webkit-input-placeholder {
   color: #999999;
}
 
:-moz-placeholder { 
   color: #999999;  
}
 
::-moz-placeholder {  
   color: #999999;  
}


.button {
    background-color: #D8D8D8;
    color: #494949;
    width: 10rem;
    height: 2.5rem;
}


.button:hover {
    background-color: #494949;
    color: #D8D8D8;
    }

.registerform{
    margin-left: 41.875rem;
}

.register{
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
    outline: none;
}


